@charset "utf-8";
/* CSS Document */
/*公共样式*/
html,body,div,p,ul,li,dl,dt,dd,input,button,h3,h2{margin:0;padding:0;}
img{ border:0;}
h3{ font-weight:100;}
ul,li{list-style:none;}
li a img{ border:none;}
a{text-decoration:none;color:#666;}
a:hover{ color:red;}
input,button{border:none; outline:none;}
body{ font-size:12px; font-family:"微软雅黑"; color:#666;}
.left{float:left;}
.right{ float:right;}
.clear{ clear:both;}
/*行*/
.w{width:1210px;margin:0 auto;}
